<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FilePaths" type="UserStorageConfiguration.Configuration.FileConfiguration.FilePathConfig, UserStorageConfiguration" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Services" type="UserStorageConfiguration.Configuration.ServiceConfiguration.ServiceConfig, UserStorageConfiguration" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <FilePaths>
    <FilePathCollection>
      <FilePath path="file.xml"/>
    </FilePathCollection>
  </FilePaths>
  <Services>
    <ServiceCollection>
      <Service type="master" storage="xml" count="1"/>
      <Service type="slave" storage="memory" count="5"/>
    </ServiceCollection>
  </Services>
  <system.diagnostics>
    <switches>
      <add name="logSwitch" value="1"/>
    </switches>
  </system.diagnostics>
</configuration>