<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FilePaths" type="UserStorageConfiguration.Configuration.FileConfiguration.FilePathConfig, UserStorageConfiguration" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Services" type="UserStorageConfiguration.Configuration.ServiceConfiguration.ServiceConfig, UserStorageConfiguration" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Connections" type="UserStorageConfiguration.Configuration.NetworkConfiguration.ConnectionConfig, UserStorageConfiguration" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <FilePaths>
    <FilePathCollection>
      <FilePath path="file.xml"/>
    </FilePathCollection>
  </FilePaths>
  <Services>
    <ServiceCollection>
      <Service type="master" storage="xml" count="1"/>
      <Service type="slave" storage="memory" count="2"/>
    </ServiceCollection>
  </Services>
  <Connections>
    <ConnectionCollection>
      <Connection address="127.0.0.1" port="10000"/>
      <Connection address="127.0.0.1" port="10001"/>
      <Connection address="127.0.0.1" port="10002"/>
      <Connection address="127.0.0.1" port="10003"/>
      <Connection address="127.0.0.1" port="10004"/>
    </ConnectionCollection>
  </Connections>
  <system.diagnostics>
    <switches>
      <add name="logSwitch" value="1"/>
    </switches>
  </system.diagnostics>
</configuration>